.contentcontainer {
  display: flex;
}

.sidebar {
  min-width: 200px;
  /* border-right: 5px solid rgba(3, 2, 0, 0.267); */
  padding: 2em;
  margin-right: 2em;
  position: sticky;
  top: 0;
  max-height: 100vh;
}

.content {
  flex: 1;
  max-width: 100%;
}

.closebutton {
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0px solid black;
  cursor: pointer;
}

.closebutton * {
  margin: auto;
  padding: auto;
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }

  .sidebarcollapsed {
    left: -250px;
    transition: all 1s;
  }

  .sidebarbutton {
    position: fixed;
    height: 65px;
    width: 65px;
    display: block;
    top: 100px;
    left: 220px;
    transition: all 1s;
  }

  .sidebarbuttoncollpased {
    left: 10px !important ;
    transition: all 1s;
  }

  .closebutton {
    display: block;
  }
}
