.container {
  padding: 1em;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0em;
    padding-top: 1em;
    gap: 10px;
  }
}
