html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mohave", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section-header {
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.mainbutton {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  padding: 1em 3em;
  font-weight: 400;
  font-size: 1.2em;
  border: 1px solid black;
  cursor: pointer;
  background: linear-gradient(to right, #7b4397, #dc2430);
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  outline: white 0.5px solid;
}

.mainbutton:hover {
  padding: 1em 3.5em;
  transition: all 0.2s;
  outline: black 0.5px solid;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.alternatemainbutton {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  padding: 1em 3em;
  font-weight: 400;
  font-size: 1.2em;
  border: 1px solid black;
  cursor: pointer;
  background: white;
  color: black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  outline: white 0.5px solid;
}

.alternatemainbutton:hover {
  padding: 1em 3.5em;
  transition: all 0.2s;
  outline: black 0.5px solid;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.secondarybutton {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  padding: 0.8em 2em;
  font-weight: 400;
  font-size: 1.2em;
  border: 1px solid black;
  cursor: pointer;
  background: linear-gradient(to right, #7b4397, #dc2430);
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  transition: all 0.2s;
  margin: auto;
}

.button {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  padding: 0.8em 2em;
  font-weight: 400;
  font-size: 1.2em;
  border: 1px solid black;
  cursor: pointer;
  background: #f6f1f4;
  color: black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  transition: all 0.2s;
  margin: auto;
}

.roundedbutton {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  padding: 1em;
  justify-content: center;
  font-weight: 400;
  font-size: 1.2em;
  border: 1px solid black;
  cursor: pointer;
  background: linear-gradient(to right, #7b4397, #dc2430);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  transition: all 0.2s;
  margin: auto;
  outline: white 0.5px solid;
}

.roundedbutton:hover {
  outline: black 0.5px solid;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

input {
  font-family: "Mohave", sans-serif;
}
button {
  font-family: "Mohave", sans-serif;
}

.buttoncontainer {
  margin-top: 4.5em;
}

.mainbutton span {
  margin-left: 10px;
}

.label {
  margin-left: 2px;
  font-weight: 700;
}

.actionbutton {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background: black;
  color: white;
  border-radius: 20%;
  padding: 5px;
}

input {
  padding: 0.75em;
  font-size: 1em;
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 1.2em;
  height: 1.2em;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar-track {
  background: #f6f1f4;
  border-radius: 100vw;
  margin-block: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(#e66465, #9198e5);
  border: 0.25em solid #f6f1f4;

  width: 2em;
  border-radius: 100vw;
}

.desktophidden {
  display: none !important;
}
.mobilehidden {
  display: block !important;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: hsl(120 100% 25% / 1) hsl(120 50% 75% / 1);
    scrollbar-width: thin;
  }
}

@media only screen and (max-width: 768px) {
  .section-header {
    font-size: 1.75em;
    padding: 0.5em;
  }
  .mainbutton {
    width: 90%;
  }
  .secondarybutton {
    width: 90%;
  }

  .roundedbutton {
    padding: 0;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .desktophidden {
    display: block !important;
  }
  .mobilehidden {
    display: none !important;
  }
}
