.mainnavigation {
  max-width: 100%;
  overflow: hidden;
  z-index: 98;
  background: #f2f2f2;
}
.brand {
  padding: 15px;
  font-weight: 800;
  font-size: 2em;
  margin: 1em;
}

.navbar {
  overflow: hidden;
}
.navbar ul {
  list-style: none;
  display: flex;
  /* align-items: baseline; */
  margin: 15px;
  padding: 0;
  align-items: center;
}

.sociallinks {
}

.sociallinks li {
  padding-top: 5px;
  margin-left: 15px;
  margin-right: 10px;
}

.navbar {
  display: flex;
  flex: auto;
  justify-content: space-between;
  padding: 1em;
}

.navlinks {
  display: flex;
  align-items: center;
}

.links {
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.links li {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 50px;
  transition: background-size 400ms;
}

.links li:hover {
  background-size: 0 0.1em, 100% 0.1em;
}

.cart {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 1em;
  flex-shrink: 1;
  margin-left: 5em;
  position: relative;
}

.mobilelinks {
  display: none;
}

.sidebarbutton {
  display: none;
}

.badge {
  position: absolute;
  font-weight: 200;
  font-size: 0.5em;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  padding-top: 2px;
  background: black;
}

@media only screen and (max-width: 1024px) {
  .mainnavigation {
    position: sticky;
    top: 0;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .brand {
    padding: 5px;
    font-weight: 800;
    font-size: 1.5em;
    margin: 1em;
  }
  .links {
    margin: 10px;
    font-size: 1em;
  }

  .links li {
    margin: 1.5em;
  }
  .sociallinks {
    display: none !important;
  }
  .cart {
    margin-left: 1em;
  }

  .sidebarbutton {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .mainnavigation {
    border-bottom: 1px solid #f2f2f2;
  }
  .brand {
    margin: 0.5em;
  }
  .links li {
    display: none;
  }
  .cart {
    margin-block: 0em;
    margin-right: 0em;
    padding-block: 0em;
    padding-right: 0em;
    padding-left: 0em;
  }

  .mobilelinks {
    display: block;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
  }
  .mobilelinks > li {
    margin-inline: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding-block: 0.25em;
  }
}
